<div class="clearfix" style="margin-bottom:25px;">
	<div class="col-md-4" align="center">
		<img  class="img-responsive img-rounded img-thumbnail " ng-src="{{$ctrl.mainImageUrl}}" >
	</div>
	<div class="col-md-8" >
		<h2 align="center" style="font-family: 'Audiowide', cursive;color:#337ab7;">{{$ctrl.phonedetail.name}}</h2><hr>
		<br>
		<p style="font-family: 'Slabo 27px', serif;font-weight:400;">{{$ctrl.phonedetail.description}}</p>
		<div ng-repeat="img in $ctrl.phonedetail.images" style="margin-top:50px;" >
			<div class="col-md-2 hidden-xs hidden-sm">
				<img class="img-responsive img-thumbnail " ng-src="{{img}}" ng-click="$ctrl.setImage(img)">
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin-bottom:25px;">
	<!--
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Availability and Networks</b></h4>
		<span><b>Availability</b><br></span>
		<span ng-repeat="availability in $ctrl.phonedetail.availability">{{availability}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Battery</b></h4>
		<span ><b>Type</b><br></span>
		<span>{{$ctrl.phonedetail.battery.type}}<br></span>
		<span ><b>Talk Time</b><br></span>
		<span>{{$ctrl.phonedetail.battery.talkTime}}<br></span>
		<span ><b>Stand ByTime</b><br></span>
		<span>{{$ctrl.phonedetail.battery.standbyTime}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Storage and Memory</b></h4>
		<span ><b>RAM</b><br></span>
		<span>{{$ctrl.phonedetail.storage.ram}}<br></span>
		<span ><b>Internal Storage</b><br></span>
		<span>{{$ctrl.phonedetail.storage.flash}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Connectivity</b></h4>
		<span ><b>Network Support </b><br></span>
		<span>{{$ctrl.phonedetail.connectivity.cell}}<br></span>
		<span ><b>WiFi</b><br></span>
		<span>{{$ctrl.phonedetail.connectivity.wifi}}<br></span>
		<span ><b>Bluetooth</b><br></span>
		<span>{{$ctrl.phonedetail.connectivity.bluetooth}}<br></span>
		<span ><b>Infrared</b><br></span>
		<span>{{$ctrl.phonedetail.connectivity.infrared | checkmark}}<br></span>
		<span ><b>GPS</b><br></span>
		<span>{{$ctrl.phonedetail.connectivity.gps | checkmark}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Android</b></h4>
		<span ><b>OS Version</b><br></span>
		<span>{{$ctrl.phonedetail.android.os}}<br></span>
		<span ><b>UI</b><br></span>
		<span>{{$ctrl.phonedetail.android.ui}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Size and Weight</b></h4>
		<span ><b>Dimensions</b><br></span>
		<span ng-repeat="dim in $ctrl.phonedetail.sizeAndWeight.dimensions">{{dim}}<br></span>
		<span ><b>Weight</b><br></span>
		<span>{{$ctrl.phonedetail.sizeAndWeight.weight}}<br></span>
	</div>
</div>
<div class="clearfix" style="margin-bottom:25px;" >
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Display</b></h4>
		<span ><b>Screen size</b><br></span>
		<span>{{$ctrl.phonedetail.display.screenSize}}<br></span>
		<span ><b>Screen resolution</b><br></span>
		<span>{{$ctrl.phonedetail.display.screenResolution}}<br></span>
		<span ><b>Touch screen</b><br></span>
		<span>{{$ctrl.phonedetail.display.touchScreen | checkmark}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Hardware</b></h4>
		<span ><b>CPU</b><br></span>
		<span>{{$ctrl.phonedetail.hardware.cpu}}<br></span>
		<span ><b>USB</b><br></span>
		<span>{{$ctrl.phonedetail.hardware.usb}}<br></span>
		<span ><b>Audio / headphone jack</b><br></span>
		<span>{{$ctrl.phonedetail.hardware.audioJack}}<br></span>
		<span ><b>FM Radio</b><br></span>
		<span>{{$ctrl.phonedetail.hardware.fmRadio | checkmark}}<br></span>
		<span ><b>Accelerometer</b><br></span>
		<span>{{$ctrl.phonedetail.hardware.accelerometer | checkmark}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Camera</b></h4>
		<span ><b>Primary</b><br></span>
		<span>{{$ctrl.phonedetail.camera.primary}}<br></span>
		<span ><b>Features</b><br></span>
		<span ng-repeat="cam in $ctrl.phonedetail.camera.features">{{cam}}<br></span>
	</div>
	<div class="col-md-2" style="margin-top:25px;">
		<h4><b>Additional Features</b></h4>
		<span>{{$ctrl.phonedetail.additionalFeatures}}<br></span>
	</div>
-->
	<div class="panel panel-default ">
	  <div class="panel-body">
	    <div class="table-responsive "> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead>
				 	<tr class="info">	
						<th class="rows"><b>Availability and Networks</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr > 
				 		<th>Availability</th>
				 		<th><span ng-repeat="availability in $ctrl.phonedetail.availability">{{availability | checknull}}  </span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Battery</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>Type</th>
				 		<th><span>{{$ctrl.phonedetail.battery.type | checknull}}</span></th>
				 	</tr> 
				 	<tr> 
				 		<th>Talk Time</th>
				 		<th><span>{{$ctrl.phonedetail.battery.talkTime | checknull}}</span></th>
				 	</tr> 
				 	<tr> 
				 		<th>Stand ByTime</th>
				 		<th><span>{{$ctrl.phonedetail.battery.standbyTime | checknull}}</span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Storage and Memory</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>RAM</th>
				 		<th><span>{{$ctrl.phonedetail.storage.ram | checknull}}</span></th>
				 	</tr> 
				 	<tr> 
				 		<th>Internal Storage</th>
				 		<th><span>{{$ctrl.phonedetail.storage.flash | checknull}}</span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Connectivity</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>Network Support</th>
				 		<th><span> {{$ctrl.phonedetail.connectivity.cell | checknull}} </span></th>
				 	</tr> 
				 	<tr> 
				 		<th>WiFi</th>
				 		<th><span>{{$ctrl.phonedetail.connectivity.wifi | checknull}}</span></th>
				 	</tr>
				 	<tr> 
				 		<th>Bluetooth</th>
				 		<th><span>{{$ctrl.phonedetail.connectivity.bluetooth | checknull}}</span></th>
				 	</tr>
				 	<tr> 
				 		<th>Infrared</th>
				 		<th><span>{{$ctrl.phonedetail.connectivity.infrared | checkmark}}</span></th>
				 	</tr>
				 	<tr> 
				 		<th>GPS</th>
				 		<th><span>{{$ctrl.phonedetail.connectivity.gps | checkmark}}</span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Android</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>OS Version</th>
				 		<th><span>{{$ctrl.phonedetail.android.os | checknull}}</span></th>
				 	</tr> 
				 	<tr> 
				 		<th>UI</th>
				 		<th><span>{{$ctrl.phonedetail.android.ui | checknull}}</span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Size and Weight</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>Dimensions</th>
				 		<th><span ng-repeat="dim in $ctrl.phonedetail.sizeAndWeight.dimensions">{{dim}} </span></th>
				 	</tr> 
				 	<tr> 
				 		<th>Weight</th>
				 		<th><span>{{$ctrl.phonedetail.sizeAndWeight.weight | checknull}}</span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Display</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>Screen size</th>
				 		<th><span>{{$ctrl.phonedetail.display.screenSize | checknull}}</span></th>
				 	</tr> 
				 	<tr> 
				 		<th>Screen resolution</th>
				 		<th><span>{{$ctrl.phonedetail.display.screenResolution | checknull}}</span></th>
				 	</tr>
				 	<tr> 
				 		<th>Touch screen</th>
				 		<th><span>{{$ctrl.phonedetail.display.touchScreen | checkmark}}</span></th>
				 	</tr>  
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Hardware</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>CPU</th>
				 		<th><span> {{$ctrl.phonedetail.hardware.cpu | checknull}}</span></th>
				 	</tr> 
				 	<tr> 
				 		<th>USB</th>
				 		<th><span>{{$ctrl.phonedetail.hardware.usb | checknull}}</span></th>
				 	</tr>
				 	<tr> 
				 		<th>Audio / headphone jack</th>
				 		<th><span>{{$ctrl.phonedetail.hardware.audioJack | checknull}}</span></th>
				 	</tr>
				 	<tr> 
				 		<th>FM Radio</th>
				 		<th><span>{{$ctrl.phonedetail.hardware.fmRadio | checkmark}}</span></th>
				 	</tr>
				 	<tr> 
				 		<th>Accelerometer</th>
				 		<th><span>{{$ctrl.phonedetail.hardware.accelerometer | checkmark}}</span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <colgroup>
				 	 <col class="col-xs-3"> 
				 	 <col class="col-xs-7"> 
				 </colgroup>
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Camera</b></th>
						<th></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>Primary</th>
				 		<th><span>{{$ctrl.phonedetail.camera.primary | checknull}} </span></th>
				 	</tr> 
				 	<tr> 
				 		<th>Features</th>
				 		<th><span ng-repeat="cam in $ctrl.phonedetail.camera.features">{{cam | checknull}}</span></th>
				 	</tr> 
				 </tbody> 
			</table> 
			<table class="table table-bordered ">
				 <thead >
				 	<tr class="info">	
						<th class="rows"><b>Additional Features</b></th>
				 	</tr>
				 </thead> 
				 <tbody > 
				 	<tr> 
				 		<th>{{$ctrl.phonedetail.additionalFeatures | checknull}} </th> 
				 	</tr> 
				 </tbody> 
			</table> 
		</div>
	  </div>
	</div>
	
</div>
